In [ ]:
s1 = "rohan"


for i in s1:
    print(i)

r
o
h
a
n

In [5]:
l1 = [1,2,3,4,5,6,7,8,9]

In [6]:
for i in l1:
    print(i)

1
2
3
4
5
6
7
8
9

In [7]:
d1 = {'name':'Rohan','age':25,'place':'bhilar'}

In [11]:
for keys,values in d1.items():
    print(keys,values)

name Rohan
age 25
place bhilar

In [12]:
num = 123
total = 0
while num > 0:
    total += num % 10
    num //= 10
print("Sum of digits:", total)

Sum of digits: 6

In [1]:
4/2

2.0

In [2]:
5/2

2.5

In [7]:
7/3

2.3333333333333335

In [8]:
7//3

2

In [9]:
5//2

2

In [1]:
6/4

1.5

In [2]:
6//5

1

In [3]:
6%4

2

In [4]:
6 ** 4

1296

In [5]:
6 * 6

36

In [6]:
36 * 6

216

In [7]:
216 * 6

1296

In [18]:
a =6

In [9]:
a/=5

In [10]:
a

1.2

In [13]:
a //= 5

In [14]:
a

1

In [16]:
a %= 5

In [17]:
a

1

In [19]:
a **= 5

In [20]:
a

7776

In [21]:
5 != 5

False

In [22]:
not(5<3)

True

In [23]:
a = 5

In [24]:
b = 5

In [25]:
a is b

True

In [26]:
a is not b

False

In [27]:
a = [1,2]

In [28]:
b = [1,2,3]

In [29]:
a in b

False

In [30]:
b not in a

True

In [31]:
a not in b

True

In [1]:
s1="Rohan"

In [3]:
for i in s1:
    print(i)

R
o
h
a
n

In [5]:
len(s1)

5

In [14]:
i=0
while i<len(s1):
    print(s1[i])
    i+=1

R
o
h
a
n

In [16]:
word = "developer"
'-'.join(i for i in word)

'd-e-v-e-l-o-p-e-r'

In [17]:
'-'.join(word)

'd-e-v-e-l-o-p-e-r'

In [29]:
AI = "Artificial Intelligence"

COUNT = 0
for i in AI.lower():
    if i in "aeiou":
        COUNT+=1

print(COUNT)

10

In [26]:
s2 = "machine"
s3 = ""
i = len(s2)-1


while i >= 0:
    s3 +=s2[i]
    i-=1
print(s3)

enihcam

In [11]:
t = (2, 4, 6, 8, 10)
# Print the square of each number using a for loop
for i in t:
    print(i**2)

4
16
36
64
100

In [4]:
t = ("python", "AI", "ML")
# Print each element in uppercase using loop
i=0
while i <len(t):
    print(t[i].upper())
    i+=1

PYTHON
AI
ML

In [8]:
len(t)

3

In [10]:
t = (1, 3, 5, 7, 9)
# Use a while loop to calculate the sum of all element
t1=0
i = 0 
while i < len(t):
    t1+=t[i]
    i+=1
print(t1)

25

In [13]:
nums = [1, 2, 3, 4, 5]

for i in nums:
    print(i**3)

1
8
27
64
125

In [16]:
names = ["rohan", "jadhav", "python"]
for i in names:
    print(i[::-1])

nahor
vahdaj
nohtyp

In [ ]:
nums = [5, 10, 15, 20, 25]
numsnew=[i for i in nums if i>12]
print(numsnew)

[15, 20, 25]

[True, True, False, False, False]

In [22]:
s = {2, 4, 6, 8, 10}
for i in s:
    print(i*5)

10
20
30
40
50

In [ ]:
s = {"rohan", "python", "AI"}
l=list(s)
i=0
while i<len(l):
    print(len(l[i]))
    i+=1

6
5
2

In [16]:
s = {5, 10, 15, 20, 25}
l=list(s)
s1 = set([i for i in l if i%2==0])
print(s1)

{10, 20}

In [18]:
s = {"rohan", "python", "AI"}
for word in s:
    print(len(word))

6
5
2

In [19]:
student = {"name": "Rohan", "age": 25, "course": "Python"}

In [60]:
Numbers = [2, 4, 6]
d1={}
for i in Numbers:
    d1[i]= i**3
print(d1)

{2: 8, 4: 64, 6: 216}

In [61]:
d2={i:i**3 for i in Numbers}
print(d2)

{2: 8, 4: 64, 6: 216}

In [57]:
student = {"name": "Rohan", "age": 25, "course": "Python"}
for Key,value in student.items():
    print(f"{Key} --> {value}")

name --> Rohan
age --> 25
course --> Python

In [64]:
s = "developer"
d3 ={i:ord(i) for i in s}
print(d3)

{'d': 100, 'e': 101, 'v': 118, 'l': 108, 'o': 111, 'p': 112, 'r': 114}